/* -----------general-style--------------- */
body {
  background-color:#FFFFFF;
  width: 100%;
}

header, 
section,
footer {
  padding: 0 120px;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.footer {
  margin-bottom: 70px;
}

section .container {
  margin-bottom: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.get-started__header {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2F281E;
}

 .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #2F281E;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #2F281E;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2F281E;
}

a {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2F281E;
}

a:hover{
  text-decoration: underline;
  transition: 1s;
}

.button {
  background-color: #FF9900;
  border-radius: 4px;
  color: #FFFFFF;

  font-family: 'Poppins', sans-serif;
  padding: 13px 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
}

.button:hover {
  background-color: #775298;
  box-shadow: 1px 2px 25px 5px #544837;
  transition: 1s;
}

/* ------------------header-------------------- */
.header {
  padding: 17px 120px;
  margin-bottom: 70px;
}

.header__container {
  min-height: 46px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.header__menu {
  max-width: 352px;
  margin: auto;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}

.menu__link_orange {
  color: #FF9900;
}

.header__button-block {
  max-width: 252px;
  min-height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 32px;
}

.header__button {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px; 
  white-space: nowrap;
}

.header__button_white {
  padding: 13px 26px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  color: #2F281E;
  background-color: #FFFFFF;
}

.header__button_orange {
  padding: 13px 22px;
  background-color: #FF9900;
  border-radius: 4px;
  color: #FFFFFF;
}

.header__button:hover {
  background-color: #775298;
  transition: 1s;
}

.image {
  width: 100%;
}
/* ---------------get-started--------------- */

.get-started__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 56px;
}

.get-started__content {
  margin: auto;
  flex: 0 1 500px;
}

.get-started__header {
  margin-bottom: 30px;
}

.get-started__text {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

/* ------superpowers-tools----------- */

.superpowers-tools {
  background-image: url(../images/tools-superpowers/bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.superpowers-tools__container {
  text-align: center;
}

.superpowers-tools__title {
  margin-bottom: 50px;
}

.superpowers-tools__row {
  min-height: 175px;
}

.superpowers-tools__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;

  text-align: left;
}

.superpowers-tools__item {
  max-width: 270px;
}

.superpowers-tools__icon {
  margin-bottom: 30px;
}

.superpowers-tools__subtitle {
  margin-bottom: 16px;
}

.superpowers-tools__button {
  margin-top: 70px;
  margin-bottom: 74px;
}

/*-------professionals------------ */

.professionals .container {
  display: flex;
  justify-content: space-between;
}

.professionals__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.professionals h2 {
  margin-bottom: 20px;
}

.professionals .text {
  margin-bottom: 40px;
}


/* -------------design-professionals------------ */

.design-professionals__content {
  flex: 0 1 525px;
} 

.design-professionals__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}


/* --------------------product-managers--------------- */

.product-managers__content {
  flex: 0 1 505px;
}

.product-managers__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

/*----------------------marketers-----------------------  */

.marketers__content {
  flex: 0 1 486px;
}

.marketers__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

/* -----------------footer------------------ */

.line {
  width: 100%;
  height: 1px;
  background: rgba(188, 208, 229, 0.496913); 
}

.footer__container {
  margin-top: 70px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer__list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  gap: 130px;
}

.footer__quick-links,
.footer__legal-stuff {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}


.footer__energy-deal {
  max-width: 340px;
  margin-bottom: 70px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.text__energy-deal {
  max-width: 280px;
}

.phone-number {
  width: 340px;
  height: 50px;
  padding: 15px 10px;

  border: 1px solid #BCD0E5;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* -----------media---------- */

@media (max-width: 1399.98px) {
  header, 
  section,
  footer {
    padding: 0 70px;
  }

  section .container {
    margin-bottom: 70px;
  }
  
  .header {
    padding: 17px 70px;
    margin-bottom: 60px;
  }
  
  .professionals .container {
    gap: 40px;
  }

  .footer__row {
    gap: 60px;
  }
}

@media (max-width: 1199.98px) { 
  h4 {
    font-size: 16px;
  }

  .productly {
    display: none;
  }
  
  .get-started__container {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .superpowers-tools__items {
    gap: 20px;
    text-align: center;
  }

  .professionals .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-managers__content {
    order: 1;
  }

  .product-managers__image {
    order: 2;
  }

  [class*="__content"] {
    flex: 0 1 100%;
  }

  .professionals__block {
    gap: 15px;
  }

  .subtitle {
    font-size: 16px;
  }

  .superpowers-tools__text {
    font-size: 14px;
  }

  .footer__row {
    gap: 30px;
  }
}

@media (max-width: 991.98px) {
  header, 
  section,
  footer {
    padding: 0 25px;
  }

  section .container {
    margin-bottom: 40px;
  }
  
  .header {
    padding: 17px 25px;
    margin-bottom: 40px;
  }

  .get-started__header {
    font-size: 32px;
    line-height: 35px;
  }
  
   .title {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 767.98px) {
  .header__button_orange {
    display: none;
  }

  .header__button_white {
    padding: 10px;
  }

  .footer .productly {
    display: inline;
  }

  .superpowers-tools__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer__list {
    gap: 10px;
  }
  
  .footer__row {
    flex-wrap: wrap;
  } 

  .phone {
    display: none;
  }

  .footer__energy-deal {
    max-width: none;
    width: 100%;
    margin-bottom: 70px;

    align-items: center;
    gap: 10px;

    text-align: center;
  }
  
  .text__energy-deal {
    max-width: none;
  }
}

@media (max-width: 575.98px) {
  .header {
    margin-bottom: 70px;
  }

  .header__button_white {
    display: none;
  }

  .footer__logo .productly {
    display: none;
  }

  .phone-number {
    display: none;
  }

  .header__container {
    position: relative;
  }

  .menu-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 7px;
    right: 0;
    z-index: 2;
    overflow: hidden;
  }
  
  .menu-btn span {
    width: 35px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:  #544837;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }
  
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 10px);
  }
  
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 10px);
  }

  .menu__list {
    width: 100%;
    height: 130px;
    padding: 15px;
    
    position: fixed;
    top: 0px;
    left: 10px;

    background-color:  #FFFFFF;
    transform: translateX(-100%);
    transition: transform 0.5s;

    display: flex;
    flex-direction: column;
  }

  .menu__link {
    font-weight: bold;
    font-size: 20px;
  }
  
  .menu__list.active {
    transform: translateX(0);
  }
  
  .menu__item {
    list-style-type: none;
  }
  
  .menu-btn.active span:first-of-type {
    transform: translateX(100%);
  }
  
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .superpowers-tools__button {
    margin: 50px 0;
  }
}

@media (max-width: 400px) {
  .footer__logo {
    display: none;
  }

  [class*="__text"] {
    font-size: 16px;
    line-height: 22px;
  }

  .superpowers-tools__text {
    font-size: 14px;
  }

  .get-started__text {
    font-size: 18px;
    line-height: 24px;
  }

  .icon-check {
    width: 25px;
    height: 25px;
  }

  .footer__list a {
    font-size: 14.5px;
    line-height: 24px;
  }

  .get-started__image img {
    display: none;
  }
}