/* -----------general-style--------------- */
body {
    background-color:#FFFFFF;
    width: 100%;
}
header, 
section,
footer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}
section .container{
  margin-bottom: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2F281E;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #2F281E;
  margin-bottom: 20px;
}
h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #2F281E;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
p {
}
a {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2F281E;
}
.button {
  font-family: 'Poppins';
  padding: 13px 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background-color: #FF9900;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
}
/* ------------------header-------------------- */
.header {
  padding: 17px 0;
  margin-bottom: 70px;
}
.header__container {
  min-height: 46px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 13px;
}

.header__menu {
  max-width: 352px;
  margin: auto;
}

.menu__body {
}
.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}
.menu__item {

}
.menu__link {
}
.menu__link_orange {
  color: #FF9900;
}
.header__button-block {
  max-width: 252px;
  max-height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 32px;
}

.header__button {
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px; 
}
.header__button_white {
  padding: 13px 26px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  color: #2F281E;
  background-color: #FFFFFF;
}
.header__button_orange {
  padding: 13px 22px;
  background-color: #FF9900;
  border-radius: 4px;
  color: #FFFFFF;
}
/* ---------------get-started--------------- */
.get-started__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 56px;
}
.container {
}
.get-started__block {
}
.get-started__content {
  max-width: 500px;
  margin: auto;
}
.get-started__header {
  margin-bottom: 30px;
}
.get-started__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

.get-started__image {
  max-width: 644px;
}

/* ------superpowers-tools----------- */
.superpowers-tools {
}
.superpowers-tools__container {
  text-align: center;
}

.superpowers-tools__title {
  margin-bottom: 50px;
}

.superpowers-tools__row {
  min-height: 175px;
}
.superpowers-tools__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.superpowers-tools__item {
  max-width: 270px;
}
.superpowers-tools__icon {
  margin-bottom: 30px;
}
.superpowers-tools__subtitle {
  margin-bottom: 16px;
}

.superpowers-tools__button {
  margin-top: 70px;
}
/*-------professionals------------ */
.professionals .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.professionals__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.professionals h2 {
  margin-bottom: 20px;
}
.professionals .text {
  margin-bottom: 40px;
}


/* -------------design-professionals------------ */
.design-professionals__container {
  
}
.design-professionals__content {
  max-width: 525px;
  margin: auto 0;
}
.design-professionals__text {
}
.design-professionals__title {
}
.title {
}
.design-professionals__block {
}
.design-professionals__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.design-professionals__subtitle {
}
.design-professionals__image {
}

/* --------------------product-managers--------------- */
.product-managers__container {
}
.product-managers__image {
}
.product-managers__content {
  max-width: 505px;
  margin: auto 0;
}
.product-managers__text {
}
.product-managers__title {
}
.product-managers__block {
}
.product-managers__item {
}
/*----------------------marketers-----------------------  */
.marketers__container {
}
.marketers__content {
  max-width: 486px;
  margin: auto 0;
}
.marketers__text {
}
.marketers__title {
}
.marketers__block {
}
.marketers__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.marketers__subtitle {
}
.marketers__image {
}
/* -----------------footer------------------ */

.footer {
}
.footer__container ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.footer__column a {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.container {
}
.footer__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 102px;
}
.footer__column {
}
.footer__logo {
}
.logo {
}
.productly {
}
.footer__quick-links h4 {
  margin-bottom: 30px;
}
.footer__legal-stuff h4{
  margin-bottom: 30px;
}
.footer__energy-deal {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.footer__energy-deal h4 {
  max-width: 280px;
}
.phone-number {
  width: 340px;
  height: 50px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}
.button {
}
.footer__button {
}